* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/About\ 1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    color: #fff5f5;
}

.container h2 {
    color: #fff0f0;
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 1;
    line-height: 1.7;
}

.container form {
    display: inline-block;
    background: rgba(207, 85, 85, 0.8);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.container label {
    display: block;
    margin-bottom: 10px;
}

.container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #e4e2e2;
    border-radius: 3px;
}

.container input[type="submit"] {
    background-color: #852022; /* Warna merah untuk tombol login */
    color: #fff; /* Warna teks putih */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
} 

.container .register-text {
    color: #ffecec;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.login-register-text a {
    text-decoration: none;
    color: #c77a3c;
    font-weight: bold;
}
